<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016118821291-ko0pv9ai1fh0cak9v6ls06nfqt5o4p8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016118821291-ko0pv9ai1fh0cak9v6ls06nfqt5o4p8a</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wUdIlHX-_g5YM6-jOk95EZjO_AkLiiA</string>
	<key>GCM_SENDER_ID</key>
	<string>1016118821291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kisanApp</string>
	<key>PROJECT_ID</key>
	<string>kisan-bf8ec</string>
	<key>STORAGE_BUCKET</key>
	<string>kisan-bf8ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016118821291:ios:0ae0f8dbdf4b57cb4452ee</string>
</dict>
</plist>